backwork.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_Resume",
        "options": {
          "joinPages": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2496,
        -672
      ],
      "id": "80e48451-9b89-4bce-af16-fed892dd0cdb",
      "name": "Extract Resume",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_JD",
        "options": {
          "joinPages": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2720,
        -672
      ],
      "id": "14258fe8-8f20-481a-9f13-364187a9cda1",
      "name": "Extract JD",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2320,
        -448
      ],
      "id": "cf49d3a4-5209-444c-9554-762966602a09",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "S4USMG6Cs1oAnosj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Resume-Screener",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2912,
        -672
      ],
      "id": "504a93a3-3fa4-4f15-bccf-bb0a282ccf2a",
      "name": "Webhook",
      "webhookId": "209456e8-0026-4761-b478-509001e83c3b"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"candidate_name\": \"John H. Smith\",\n  \"overall_score\": 79,\n  \"recommendation\": \"TALENT POOL\",\n  \"candidate_email\": \"xyz@gmail.com\",\n  \"Summary\" : \"Can be kept in talent pool for other positions\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2096,
        -448
      ],
      "id": "6f1de22b-13ae-4e95-a9f4-23fdb4829006",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f7f0c8b-a2fd-459c-9d7d-5d0f2df268c7",
                    "leftValue": "={{ $json.output.recommendation }}",
                    "rightValue": "SCHEDULE INTERVIEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "435ba871-9ecc-4e7f-8d81-01c89717b19e",
                    "leftValue": "={{ $json.output.recommendation }}",
                    "rightValue": "REJECT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1920,
        -576
      ],
      "id": "aadd1595-c49f-4e2d-a7b8-545391176ba9",
      "name": "Next Step Recommendation"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "bhashyamnandu@gmail.com",
          "mode": "list",
          "cachedResultName": "bhashyamnandu@gmail.com"
        },
        "additionalFields": {
          "attendees": [
            "={{ $json.output.candidate_email }}"
          ],
          "guestsCanInviteOthers": false,
          "guestsCanModify": false,
          "showMeAs": "opaque"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1696,
        -672
      ],
      "id": "28d07bf6-28dd-47f5-9360-25879ec07c02",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "23NT2ScHHeyJMOwo",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Resume Scorer and Recommendation AI Agent').item.json.output.candidate_email }}",
        "subject": "Status Update on your application",
        "message": "We are sorry but we had to proceed with other candidates, better luck next time!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1696,
        -480
      ],
      "id": "18871b9c-1a10-4ae0-8c21-0dc2562dae4e",
      "name": "Send a message",
      "webhookId": "bd272fca-c4a6-4009-8997-7e2a1b3d0e6b",
      "credentials": {
        "gmailOAuth2": {
          "id": "0pihdRaiTnz4XCse",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Explanation of all nodes\n\nWeb Hook: receive both JD and Resume from front end\n\nExtract JD: fetch the job description\n\nExtract Resume: fetch candidate details and experience\n\nResume Scorer AI Agent: compares both the extracts from JD and Resume and int eh structured Output manner presents the below details\n- candidate_name\n- overall_score\n- recommendation\n- candidate_email\n- Summary\n\nNext Step Recommendation: Based on the recommendations from AI Agent different flows are set\n- Schedule interview triggers the calendar event\n- Talent Pool triggers saving their details in google sheet\n- Reject triggers an email to candidate stating sorry the profile has been rejected.",
        "height": 512,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2944,
        -496
      ],
      "typeVersion": 1,
      "id": "7c1a86ee-e435-4dcc-bfd5-a42bfc957548",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert technical recruiter with 15 years of experience.\nYou will be given a Job Description and a Candidate Resume.\n\nYour task:\n1. Extract key requirements from the JD {{ $('Extract JD').item.json.text }}\n2. Map candidate's profile against each requirement {{ $json.text }}\n3. Score the candidate from 0–100\n4. Recommend one action: REJECT (<50) / TALENT POOL (50 to 70) / SCHEDULE INTERVIEW (>70)\n5. Provide a 2-3 line summary\n\nReturn ONLY a valid JSON object in this format:\n{\n  \"candidate_name\": \"\",\n  \"overall_score\": 0,\n  \"recommendation\": \"REJECT | TALENT POOL | SCHEDULE INTERVIEW\",\n  \"candidate_email\": \"\",\n  \"Summary\" : \"\"\n} ",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2272,
        -672
      ],
      "id": "80d1bdde-f61c-415b-ad02-ee1e16c90347",
      "name": "Resume Scorer and Recommendation AI Agent",
      "retryOnFail": false,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseKey": "={{ $json['Candidate Name'] }}\n{{ $json['Candidate Email'] }}\n{{ $json.Score }}\n{{ $json.Summary }}\n{{ $json['Recommended Action'] }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1696,
        -848
      ],
      "id": "7dbb9856-617c-497f-b0eb-93a1cce5d9b7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16MvK1e-r0YPJ_WkKkQ9Xh1zYofHIKYZtGpVoI76Dkik",
          "mode": "list",
          "cachedResultName": "Recruit-Ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16MvK1e-r0YPJ_WkKkQ9Xh1zYofHIKYZtGpVoI76Dkik/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16MvK1e-r0YPJ_WkKkQ9Xh1zYofHIKYZtGpVoI76Dkik/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name": "={{ $('Resume Scorer and Recommendation AI Agent').item.json.output.candidate_name }}",
            "Candidate Email": "={{ $('Resume Scorer and Recommendation AI Agent').item.json.output.candidate_email }}",
            "Score": "={{ $('Resume Scorer and Recommendation AI Agent').item.json.output.overall_score }}",
            "Summary": "={{ $('Resume Scorer and Recommendation AI Agent').item.json.output.Summary }}",
            "Recommended Action": "={{ $('Resume Scorer and Recommendation AI Agent').item.json.output.recommendation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Candidate Email",
              "displayName": "Candidate Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommended Action",
              "displayName": "Recommended Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1920,
        -848
      ],
      "id": "c5577463-fc58-4e76-99be-34e942ddc4fe",
      "name": "Update the status of candidates in Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hO94ya5iTSr88Kiz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract JD": {
      "main": [
        [
          {
            "node": "Extract Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume": {
      "main": [
        [
          {
            "node": "Resume Scorer and Recommendation AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Scorer and Recommendation AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Resume Scorer and Recommendation AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Next Step Recommendation": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Scorer and Recommendation AI Agent": {
      "main": [
        [
          {
            "node": "Next Step Recommendation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update the status of candidates in Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the status of candidates in Google Sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "91963759-6799-4f5c-a51f-603bd8c12551",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b670b5d627b5bab080015f41199dd7feb0107da4933e1e16cdb12207be194a88"
  },
  "id": "1FBQ2LgRNN7AZCYb",
  "tags": []
}